*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-size: cover;
    height: auto;
    overflow: scroll;
    overflow-x: hidden;
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header ul{
    text-align: right;
}

.header ul li{
    list-style: none;
    display: inline-block;
}

.header ul li a{
    display: block;
    text-decoration: none;
    text-transform: none;
    color: #303031;
    font-size: 17px;
    font-family: ;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 0px;
    transition: all ease 0.5s;
}
.header ul{
    text-align: right;
    position: absolute;
    top: 3%;
}

.header ul li{
    list-style: none;
    display: inline-block;
}

.header ul li a{
    display: block;
    text-decoration: none;
    text-transform: none;
    color: #303031;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 20px;
    transition: all ease 0.5s;
}
.header ul li a:hover{
    background-color: #f8d6db;
   
}
span {
    color: #71a894;
}

.intro h1{
    font-family: 'Carter One', cursive;
    letter-spacing: 2px;
    line-height: 70px;
    font-size: 52px;
    color: #303031;
    border: none;
    padding: 2%;
    width: 50%;
    position: absolute;
    top: 30%;
    left: 6%;
    
}

.intro h2{
    font-family: 'Inter', sans-serif;
    color: #303031;
    font-size: medium;
    letter-spacing: 2px;
    position: absolute;
    top: 3%;
    left: 3%;
}

.intro h4{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    line-height: 30px;
    font-size: 20px;
    color: #303031;
    border: none;
    padding: 2%;
    width: 45%;
    position: absolute;
    top: 65%;
    left: 6%;
}

.intro button{
    background-color: #f26a7e;
    position: absolute;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    bottom: 7%;
    left: 8%;
    padding-bottom: 20px;

}

.pic1{
    position: absolute;
    top: 20%;
    right: 6%;
    width: auto;
}

.pic2{
    position: absolute;
    top: 20%;
    right: 3%;
    width: auto;
}


.whyus h1{
    font-family: 'Carter One', cursive;
    letter-spacing: 2px;
    font-size: 42px;

    color: #303031;
    border: none;
    padding: 2%;
    position: absolute;
    top: 115%;
    left: 20%;
    
   
}


.whyus h4{
    font-family: 'Montserrat', sans-serif;
    font-weight:600 ;
    letter-spacing: 2px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #303031;
    border: none;
    padding: 2%;
    width: 90%;
    position: absolute;
    top: 135%;
    left: 3%;
}

#landingpage{
    margin-bottom: 25px;
}

.scrolldown{
    height: 50px;
    width: 30px;
    /* border: 2px solid black; */
    position: absolute;
    left: 50%;
    bottom: 5%;
    border-radius: 50px;
    cursor: pointer;
}

.scrolldown::before,
.scrolldown::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    border: 2px solid black;
    height: 10px;
    width: 10px;
    transform: translate(-50%,-100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scrolldown 1s ease-in-out infinite;
}

.scrolldown::after{
    top: 30%;
    animation-delay: .3s;
}

@keyframes scrolldown{
    0%{
        opacity: 0;
    }

    30%{
        opacity: 1;
    }

    60%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        top: 90%;
    }
}